.Gallery-Container{
    font-family: sans-serif;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    background: black;
    align-items: center;
  }
  .Gallery-Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    background: black;
    padding: 32px;
    overflow-wrap: normal;
    inline-size: 200px;
  }