.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    text-align: left;
    padding-top: 24px;
}
table {
    border-collapse: collapse;
    background: rgb(43, 43, 43);
}
th,
td {
    padding: 1rem;
}
th {
    background: #013b3b;
}